
<div class="navbar-fixed">
    <nav class="purple cyan">
      <div class="nav-wrapper">
        <%= link_to "TO DO", root_path, id: "logo" , class: "brand-logo", style:"padding-left: 24px;  " %>
        <ul class="right hide-on-med-and-down">
          <% if signed_in? %>
          <li><a class="btn-floating btn tooltipped  btn-large waves-effect waves-light red lighten-2 modal-trigger" href="#modal1" data-position="bottom" data-delay="50" data-tooltip="Add a task" >
          <i class="material-icons">add</i></a></li>
          <li></li>
      
          <li><%= link_to "Home", current_user %></li>
          <li><%= link_to "Help", help_path %></li>
          
           <!--  <li><%= link_to "Users", users_path %></li> -->
            <li id="fat-menu" class="dropdown">
              <a href="#" class="dropdown-button" data-activates="dropdown1">
                Account <b class="caret"></b>
              </a>
              <ul id="dropdown1" class="dropdown-content">
                <li><%= link_to "Profile", current_user %></li>
                <li><%= link_to "Settings", edit_user_path(current_user) %></li>
                <li class="divider"></li>
                <li>
                  <%= link_to "Sign out", signout_path, method: "delete" %>
                </li>
              </ul>
            </li>
          <% else %>
            <li><%= link_to "Sign in", signin_path %></li>
          <% end %>
        </ul>
      </div>
    </nav>
  </div>

